<!DOCTYPE html>
<html>
  <head>
    {% include "lib.html" %}
    <title> Converter </title>
    <link type=
  </head>
  
  <body>
    {% include "navbar.html" %}
    <div class="div">
      <h3> Original URL: {{link}}</h3>
      <form method="POST">
	<button type="submit" name="Descriptive"> Descriptive Notation </button>
	<button type="submit" name="original"> Algebraic Notation </button>
	<button type="submit" name="Both"> Both Notations </button>
      </form>
    </div>
    <div class="div">
      {% if m == "o" %}
      <h3> Algebraic Notation </h3>
      <ul>
	{% for x in a %}
	<li> x </li>
	{% endfor %}
      </ul>
      
      {% elif m == "d"}
      <h3> Descriptive Notation </h3>
      <ul>
	{% for x in d %}
	<li> x </li>
	{% endfor %}
      </ul>
    </div>
    {% else %}
      <div class="div">
	<h3> Algebraic Notation </h3>
	<ul>
	{% for x in a %}
	<li> x </li>
	{% endfor %}
	</ul>
      </div>
      <div class="div">
	<h3> Descriptive Notations </h3>
	<ul>
	  {% for x in d %}
	  <li> x </li>
	  {% endfor %}
	</ul>
      </div>
    </div>
  </body>
</html>
