<!DOCTYPE html>
<html>
  <head>
    <title> Home </title>
    {% include "lib.html" %}
  </head>
  
  <body>
    {% include "navbar.html" %}
    <h1> Chess Notation Converter </h1>
    <div class="div"> 
      Enter a wikipedia url containing a series of chess moves to convert from Algeraic Notation to Descriptive Notation. 
    </div>
    <br>
    <div class="div">
      <form method="POST">
	Url: <input type="text" name="url">
	<button class="btn" name="button" value="Go" >Go </button>
      </form>
    </div>
    
    <div class="div">
      <h3> Examples of links with Chess Notation </h3>
      <ul>
	<li> <a href="https://en.wikipedia.org/wiki/Discovered_attack"> https://en.wikipedia.org/wiki/Discovered_attack </a> </li>
      </ul>
    </div>
  </body>
</html>
